body {
  background-color: #363b39;
}

/* -- Navigation bar start -- */
/* NavBar background color */
.topnav {
  overflow: hidden;
  background-color: #0e2f44; /* darkish blue */
}

/* NavBar link style */
.topnav a {
  float: left;
  color: #f2f2f2; /* light grey */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px
}

/* color of links on hover */
.topnav a:hover {
  background-color: #ddd; /* light grey */
  color: black;
}

/* Add a color to the current link */
.topnav a.active {
  background-color: #b3680a; /* green */
  color: white;
}

/* -- Navigation bar end -- */
/* -- Cover photo start -- */
.cover-img {
text-align:center;
}

/* -- Cover photo end -- */
/* -- Section start -- */
.section {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

#header img {
  display: block;
  margin: auto;
  max-width: 100%;
  width: 592px;
  height: 313;
  border-radius: 10px;
}

#body img {
  display: block;
  margin: auto;
  max-width: 100%;
  width: 592px;
  height: 313;
  border-radius: 10px;
}

/* -- Section end --*/
/* -- Copyright start -- */
.copyright {
  font-size: 8pt;
  text-align: right;
  padding-bottom: 10px;
  color: grey;
}
/* -- Copyright end --*/
/* -- Media Query start --*/

/* -- Media Query end --*/
/* -- Google Map start --*/
#map {
  margin: auto;
  height: 400px;
  width: 70%;
}

/* -- Google Map end --*/
/* -- Nightlife Content start --*/
#nightlife1 img {
  float: right;
  width: 300px;
  height: 150;
}
#nightlife2 img {
  float: left;
  width: 300px;
  height: 150;
}
/* -- Nightlife Content end--*/

/* -- FlexBox start --*/
.container {
  display: flex;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
/* -- Flex for nightlifePage articles --*/
.child1 {
  margin: auto;
  max-width: 100%;
  width: 592px;
  height: 313;
  border-radius: 10px;
  order: 1;
  flex: auto;
}

.child2 {
  order: 2;
  margin: auto;
  flex: 15%;
}

.child3 {
  order: 3;
  margin: auto;
  flex: 85%;
}

.child4 {
  margin: auto;
  max-width: 100%;
  width: 592px;
  height: 313;
  border-radius: 10px;
  order: 3;
  flex: auto;
}

.child5 {
  order: 1;
  margin: auto;
  flex: 85%;
}
/* -- Flex for indexPage --*/
.indexcontainer {
  display: flex;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  flex-direction: column;
}

.indexchild1 {
  order: 1;
  margin: auto;
}

.indexchild2 {
  order: 2;
  text-align: center;
}

.indexchild3 {
  order: 3;
}
/* -- FlexBox end --*/
